<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225529638875-loisn3qs9bk5dho295p3fvhtq30ttpc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225529638875-loisn3qs9bk5dho295p3fvhtq30ttpc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225529638875-fq2c9grbmm8vsdlmcdiakqq6657tb39d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBenqS8B2XVcUe6n5-0Vrv1xehuFmMi5gI</string>
	<key>GCM_SENDER_ID</key>
	<string>225529638875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sneakPeak</string>
	<key>PROJECT_ID</key>
	<string>western-oarlock-466702-d3</string>
	<key>STORAGE_BUCKET</key>
	<string>western-oarlock-466702-d3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225529638875:ios:94ea7c5d16ab97c7a341fe</string>
</dict>
</plist>